.DTAppMenu {
    top: 50px;
    position: absolute;
    padding-top: 30px;
    width: 262px;
    float: left;
    display: block;
    height: 100%;
    position: fixed;
    margin-left: 0px;
    z-index: 2000;
    background-color: var(--dtcolor-left-menu);
    border-right-style: solid;
    border-right-width: 1px;
    border-color: var(--dtcolor-shadow);
    text-decoration: none;
}

.DTAppMenu::-webkit-scrollbar {
  display: none;
}

.DTAppMenuHeader {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 22px;
  color: var(--dtcolor-header);
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 20px;
  max-width: 300px;
  word-wrap: break-word;
  letter-spacing: -0.2px;
}

.DTAppMenuHeaderUp {
  text-transform: uppercase;
  color: var(--dtcolor-left-menu-group-name);
  font-size: 9px;
  margin-bottom: 6px;
  letter-spacing: 0.4px;
}

.DTAppMenuNavLink {
    text-decoration: none;
}
.DTAppMenuNavLinkActive > .DTAppMenuNavigate {
    color: var(--dtcolor-accent);
    background-color: var(--dtcolor-left-menu-selected);
    font-weight: 600;
    fill: var(--dtcolor-accent);
}

.DTAppMenuNavigate {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: block;
    margin-left: 15px;
    color: var(--dtcolor-left-menu-item);
    fill: var(--dtcolor-left-menu-item);
    background-color: transparent;
    width: 230px;
    height: 43px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
}

.DTAppMenuNavigate:hover {
    background-color: var(--dtcolor-left-menu-selected);
}

.DTAppMenuNavigateIcon {
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  width: 23px;
  height: 23px;
}

.DTAppMenuNavigateText {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 14px;
}
  
.DTAppMenuBackButton {
  position: absolute;
  bottom: 100px;
  left: 10px;
}