.EIMTemplateContainer {
    min-height: 100px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 80px;
    overflow: visible;
    padding-right: 10px;
}

.EIMTemplateCover {
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 3px;
}

.EIMTemplateSave {
    vertical-align: top;
    margin-top: 22px;
    display: inline-block;
    margin-bottom: 13px;
}

.EIMTemplateSaveHint {
    vertical-align: top;
    margin-top: 33px;
    color: var(--dtcolor-medium);
    display: inline-block;
    margin-left: 15px;
}

.EIMTemplateField {
    border: 2px solid var(--dtcolor-border);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: var(--dtcolor-white);
}

.EIMTemplateField:hover {
    border-color: var(--dtcolor-light);
    box-shadow: 0px 3px 3px 1px var(--dtcolor-shadow);
}

.EIMTemplateField:hover > .dt_input {
    background-color: var(--dtcolor-ultralight);
}

.EIMTemplateField:hover > .dt_input:hover {
    background-color: var(--dtcolor-white);
}

.EIMTemplateFieldHeader {
    color: var(--dtcolor-header);
    font-size: 12px;
    margin-top: 35px;
    font-weight: 700;
}

.EIMTemplateFieldHeaderLarge {
    color: var(--dtcolor-dark);
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-right: 10px !important;
}

.EIMTemplateFieldDescription {
    color: var(--dtcolor-header);
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-right: 10px !important;
}

.EIMTemplateFieldExpandable {
    display: none;
}

.EIMTemplateFieldExpandableHide {
    margin-top: 20px;
    font-weight: 800;
    color: var(--dtcolor-header);
}

.EIMTemplateFieldDefInput {
    margin-top: 10px;
    padding: 5px;/*
    border: 2px solid var(--dtcolor-shadow);
    font-size: 14px;
    font-weight: 600;
    color: var(--dtcolor-header);
    border-radius: 5px;*/
    height: 30px;
    width: 400px;
}

.EIMTemplateFieldButtons {
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: 25px;
}

.EIMTemplateFieldButtonClose {
    margin-left: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

.EIMTemplateFieldButtonDelete {
    margin-top: -13px;
    margin-left: -13px;
    height: 35px;
    background-color: var(--dtcolor-active-ultralight);
}

.EIMTemplateFieldButtonDeleteIcon {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    width: 20px;
    fill: var(--dtcolor-medium);
}

.EIMTemplateFieldButtonDelete:hover > .EIMTemplateFieldButtonDeleteIcon {
    fill: var(--dtcolor-red) !important;
}

.EIMTemplateFieldButtonDeleteText {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-left: 5px;
    color: var(--dtcolor-medium);
    font-weight: 800;
    font-size: 12px;
}

.EIMTemplateFieldButtonDelete:hover > .EIMTemplateFieldButtonDeleteText {
    color: var(--dtcolor-red) !important;
}

.EIMTemplateFieldSeparator {
    border-bottom: 1px solid var(--dtcolor-shadow);
}

.EIMTemplateSamplesContainer {
    margin-top: 30px;
}

.EIMTemplateSamplesCard {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px var(--dtcolor-shadow);
    padding: 15px;
    margin-bottom: 10px;
    width: 500px;
}

.EIMTemplateSamplesHeader {
    color: var(--dtcolor-header);
    font-weight: 800;
    font-size: 13px;
    margin-bottom: 10px;
}

.EIMTemplateSamplesType {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--dtcolor-red);
}

.EIMTemplateFieldUpDown {
    float: right;
}

.EIMTemplateFieldUpDownIcon {
    fill: var(--dtcolor-header);
    width: 12px;
    margin-right: 5px;
    margin-top: -4px;
}

.EIMTemplateFieldType {
    width: auto !important;
    margin-top: 10px;
    padding-right: 20px;
    height: 35px;
}

.EIMTemplateAddButton {
    width: 100%;
    font-size: 13px;
    font-weight: 800;
    margin-left: -1px;
}

.EIMTemplateAddButton:hover {
    box-shadow: none;
    border: 2px solid var(--dtcolor-border);
}

.EIMTemplateAddButtonIcon {
    display: inline-block;
    vertical-align: top;
    fill: var(--dtcolor-accent);
    width: 25px;
}

.EIMTemplateAddButton:hover > .EIMTemplateAddButtonIcon{
    fill: var(--dtcolor-header);
}

.EIMTemplateAddButtonLabel {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 3px;
}