.LoginView {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--dtcolor-ultralight);
}

.LoginViewCard {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    width: 500px !important;
    height: 400px;
    padding-top: 40px;
    background-color: var(--dtcolor-white);
    box-shadow: 0px 0px 12px 8px var(--dtcolor-shadow);
    border-radius: 3px;
    text-align: center;
}

.LoginViewLogo {
    position: absolute;
    top: calc(50% - 320px);
    left: calc(50% - 65px);
    width: 120px;
    pointer-events: none;
}

.LoginViewName {
    font-weight: 700;
    font-size: 23px;
}

.LoginViewInputName {
    font-weight: 800;
    font-size: 14px;
    color: var(--dtcolor-header);
    margin-top: 10px;
    margin-bottom: 40px;
}

.LoginViewInputField {
    width: 320px;
    height: 35px;
    letter-spacing: -0.5;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
}

.LoginViewSubmit {
    width: 335px;
    text-align: center;
    margin-left: 0px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 13px;
    height: 40px;
}


.LoginViewBackground {
    background-repeat: repeat-x repeat-y;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    background-size: 700px;
    background-image: url("../../assets/wallpaper.png");
}


.LoginViewInputErr {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 12px;
    color: red;
}