.DTTabs {
  border-bottom: 2px solid var(--dtcolor-head);
}

.DTTabs-tab {
  display: inline-block;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  width: auto;
  font-weight: 700;
  height: 35px;
  letter-spacing: -0.1px;
  white-space: nowrap;
  color: var(--dtcolor-header);
  white-space: nowrap;  
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  outline: none !important;
}

.DTTabs-tab:hover {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.DTTabs-tab-active {
  color: var(--dtcolor-accent);
  border-bottom: 2px solid var(--dtcolor-accent);
  cursor: pointer;
}

.DTTabs-tab:hover {
  background-color: var(--dtcolor-shadow);
}
  