.DNWindowBg {
    position: fixed;
    left: 0px;
    top: -20px;
    width: 101%;
    height: 150%;
    z-index: 10003;
    background-color: var(--dtcolor-bgfill);
    border: none;
}

.DNWindowBgClick {
    position: fixed;
    left: 0px;
    top: -20px;
    width: 101%;
    height: 101%;
    z-index: 1001;
    background-color: transparent;
    border: none;
}

.DNWindowClose {
    padding-top: 4px;
    margin-left: -100px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

.DNWindowClose:hover {
    background-color: var(--dtcolor-light);
}

.DNWindow {
    position: fixed;
    top: calc(50% - 350px);
    left: calc(50% - 400px);
    width: 800px;
    height: 700px;
    padding-left: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px var(--dtcolor-shadowdark);
    background-color: var(--dtcolor-white);
    z-index: 100004;
}

.DNWindowHeader {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;
    color: var(--dtcolor-header);
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 300px;
    word-wrap: break-word;
    letter-spacing: -0.2px;
}

.DNWindowSubmit {
    font-size: 13px;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.DNWindowContent {
    height: 550px !important;
    overflow: scroll;
}

.DNWindowContentNoBottomPane {
    max-height: 600px;
    overflow: scroll;
}

.DNWindowBottomPane {
    position: absolute;
    bottom: 30px;
    margin-left: -5px;
}