@import "./css/DTKit.css";

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 13px;
  min-width: 1200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

.dt_okwide {
  display: block;
}

.dt_notokwide {
  display: none;
}

@media (max-width: 300px) {
  .dt_okwide {
    display: none;
  }

  .dt_notokwide {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100%-200px);
  }
}