
.ApplicationsView {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    margin-left: 5px;
    display: block;
    background-color: var(--dtcolor-white) !important;
    overflow: visible;
}

.ApplicationsViewName {
    font-size: 28px;
}

.ApplicationsCard {
    vertical-align: top;
    display: inline-block;
    position: relative;

    width: 100px !important;
    height: 100px !important;

    margin-right: 60px;

    border-radius: 15px;
    
    padding-top: 20px;
}

.ApplicationsList {
    margin-top: 50px;
}

.ApplicationsCard:hover {
    border-radius: 5px;
    background-color: var(--dtcolor-superlight) !important;
}

.ApplicationsCard:hover > .ApplicationsCardHeader {
    color: var(--dtcolor-accent);
}


.ApplicationsCardHeader {
    display: block;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: -0.1px;
    margin-top: 20px;
    color: var(--dtcolor-header);
}

.ApplicationsViewLogo {
    width: 120px;
    margin-top: 200px;
    margin-left: -5px;
    margin-bottom: 20px;
    pointer-events: none;
}

.ApplicationsGlyph {
    display: block;
    width: 100%;
    pointer-events: none;
    text-align: center;
}

.ApplicationsVersion {
    color: var(--dtcolor-dark);
    font-family:'Manrope', sans-serif;
    font-weight: 800;
    font-size: 13px;
    position: fixed;
    bottom: 60px;
    margin-left: 25px;
  }
  