:root {
    --dtcolor-accent: #3e63db;
    --dtcolor-accent-gradient: #669bf0;
    
    --dtcolor-accent-hover: #4d4d4d;
  
    --dtcolor-accent-light: #e2e2e2;
    --dtcolor-accent-ultralight: #f3eded;
  
    --dtcolor-dark: #06132c;
    --dtcolor-medium: #817e96;
    --dtcolor-light: #cad4e4;
    --dtcolor-superlight: #e1e5eb;
    --dtcolor-ultralight: #f5f7fa;
  
    --dtcolor-navigator-left: #0b071a;
    --dtcolor-navigator-right: #0e061a;

    --dtcolor-border: #e7e4eb;
    --dtcolor-hint: #605c68;
  
    --dtcolor-navigator-icon: var(--dtcolor-white);
  
    --dtcolor-shadow: #868eb32d;
    --dtcolor-shadowdark: #47474710;
  
    --dtcolor-bgfill: #2e2e3bc4;
  
    --dtcolor-danger: #ff023c;
    --dtcolor-header: #1f3555;
  
    --dtcolor-head: #e7eaef;
    --dtcolor-row: rgb(250, 250, 250);
    --dtcolor-row-hover: #e8eaf0;
  
    --dtcolor-red: rgba(206, 4, 4, 0.95);
    --dtcolor-green: rgba(11, 173, 111, 0.95);
    --dtcolor-lightgreen: rgba(45, 145, 106, 0.95);
    --dtcolor-yellow: rgba(255, 154, 2, 0.95);
  
    --dtcolor-white: white;
    --dtcolor-black: black;
  
    --dtcolor-left-menu: #f4f7f5;
    --dtcolor-left-menu-group-name: rgb(107, 119, 140);
    --dtcolor-left-menu-item: rgb(59, 64, 73);
    --dtcolor-left-menu-selected: rgb(234, 238, 243);
}

:root[data-theme='dark'] {
    --dtcolor-accent: #a2b8ff;
    --dtcolor-accent-gradient: #d2f4f8;
    
    --dtcolor-accent-hover: #c0c0c0;
  
    --dtcolor-accent-light: #535353;
  
    --dtcolor-dark: #e0e7f3;
    --dtcolor-medium: #a8a6b6;
    --dtcolor-light: #363a41;
    --dtcolor-superlight: #111a2b;
    --dtcolor-ultralight: #08131f;
  
    --dtcolor-navigator-left: #ececec;
    --dtcolor-navigator-right: #e9e9e9;
  
    --dtcolor-navigator-icon: var(--dtcolor-white);
  
    --dtcolor-shadow: #40424b2d;
    --dtcolor-shadowdark: #1a181810;

    --dtcolor-border: #282829;
    --dtcolor-hint: #8c8796;
  
    --dtcolor-bgfill: #1d1d2083;
  
    --dtcolor-danger: #ff023c;
    --dtcolor-header: #d9dce0;
  
    --dtcolor-head: #595b5e;
    --dtcolor-row: rgb(41, 41, 41);
    --dtcolor-row-hover: #e8eaf0;
  
    --dtcolor-red: rgba(240, 96, 96, 0.95);
    --dtcolor-green: rgba(63, 221, 161, 0.95);
    --dtcolor-lightgreen: rgba(8, 107, 69, 0.95);
    --dtcolor-yellow: rgba(235, 182, 103, 0.95);
  
    --dtcolor-white: rgb(3, 3, 19);
    --dtcolor-black: white;
  
    --dtcolor-left-menu: #13131f;
    --dtcolor-left-menu-group-name: rgb(141, 156, 182);
    --dtcolor-left-menu-item: rgb(207, 216, 233);
    --dtcolor-left-menu-selected: rgb(19, 29, 46);
}
