
@import "../font/index.css";
@import "./colors.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  border-style: line;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
button,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Total reset complete */

:root {
  background-color: var(--dtcolor-white);
  color: var(--dtcolor-black);
}

span[class|="dt_paragraph"] {
  font-family: var(--dkfont-family-primary);
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.2px;
  color: var(--dtcolor-dark);
}

.dt_svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  fill: var(--dtcolor-left-menu-item);
}

.dt_bottombuttons {
  margin-top: 30px;
}

.dt_bottombuttonsmenu {
  margin-top: 30px;
  margin-left: -20px;
}

.dt_ok {
  color: var(--dtcolor-green);
}

.dt_notok {
  color: var(--dtcolor-red);
}

.dt_button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  min-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;
  letter-spacing: 0.1px;
  vertical-align: middle;
  /*transition: background 20s;*/
  cursor: pointer;
  color: var(--dtcolor-accent);
  background-color: transparent;
  text-align: left;
  border: none;
  outline: none;
}

.dt_button:hover{
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px var(--dtcolor-light);
  color: var(--dtcolor-header) !important;
  background-image: linear-gradient(to bottom, var(--dtcolor-white) 0%,var(--dtcolor-ultralight) 100%);
}

.dt_button-svg {
  fill:var(--dtcolor-header);
}

.dt_button-inline {
  display: inline-block !important;
  color: var(--dtcolor-header);
  background-image: none;
}

.dt_button-secondary {
  display: inline-block !important;
  border: none;
  background-color: var(--dtcolor-shadow);
  color: var(--dtcolor-dark);
  background-image: none;
}

.dt_button-active {
  display: inline-block !important;
  border: none;
  color: var(--dtcolor-white);
  background-color: var(--dtcolor-accent);
  background-image: none;
}

.dt_button-active:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px var(--dtcolor-light);
  color: var(--dtcolor-white) !important;
  background-image: linear-gradient(to bottom, var(--dtcolor-accent) 0%,var(--dtcolor-accent-gradient) 100%) !important;
}

.dt_button-secondary:hover {
  color: var(--dtcolor-white);
  background-color: var(--dtcolor-accent-hover);
}

.dt_button-secondary:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px var(--dtcolor-light);
  color: var(--dtcolor-header) !important;
  background-color: var(--dtcolor-white);
  background-image: linear-gradient(to bottom, var(--dtcolor-shadow) 0%,var(--dtcolor-shadow) 100%) !important;
}

.dt_button-danger {
  border: none;
  color: var(--dtcolor-red);
  background-color: transparent;
}

.dt_button-large {
  margin-top: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.dt_imgbutton-container {
  display: block;
  margin-bottom: 10px;
  height: 40px;
}

.dt_imgbutton-svg {
  display: inline-block;
  vertical-align: top;
  fill: var(--dtcolor-medium);
  margin-left: -12px;
}

.dt_imgbutton-text {
  color: var(--dtcolor-medium);
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 13px;
}

.dt_loader {
  display: block;
  border-style: solid !important;
  border-width: 4px !important;
  border-top-color: var(--dtcolor-medium) !important;
  border-left-color: var(--dtcolor-accent-light) !important;
  border-bottom-color: var(--dtcolor-dark) !important;
  border-right-color: var(--dtcolor-accent) !important;
  border-radius: 50%;
  margin: 20px;
  width: 40px;
  height: 40px;
  animation: dk_spin 2s linear infinite;
}

.dt_loadingtext {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 30px;
  margin-left: 30px;
  font-family:'Manrope', sans-serif;
  font-weight: 800;
  font-size: 15px;
  z-index: -1;
}

.dt_notwide {
  display: block;
  width: 50%;
  margin-top: 10px;
  line-height: 20px;
  font-family:'Manrope', sans-serif;
  color: var(--dtcolor-dark);
  font-weight: 800;
  font-size: 15px;
  z-index: 1;
  text-align: left;
  margin-left: 30px;
}

.dt_notwide-emoji {
  font-family:'Manrope', sans-serif;
  color: var(--dtcolor-dark);
  font-weight: 800;
  font-size: 45px;
  margin-left: 30px;
  margin-top: 30px;
}

.dt_text-mono {
  color: var(--dtcolor-hint);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 12px;
}

.dt_hint {
  color: var(--dtcolor-hint);
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
}

.dt_input {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;

  color: var(--dtcolor-black);
  background-color: var(--dtcolor-white);
  box-shadow: transparent;

  border-color: var(--dtcolor-light);
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;

  padding-left: 10px;

  width: 200px;
  height: 29px;
  margin-right: 1px;
}

.dt_input-wide {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;

  color: var(--dtcolor-black);
  background-color: var(--dtcolor-white);
  box-shadow: transparent;

  border-color: var(--dtcolor-light);
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;

  padding-left: 10px;

  min-width: 400px;
  max-width: 400px;
  min-height: 40px;
  max-height: 300px;
  margin-right: 20px;
}

.dt_input-tall {
  height: 400px;
  max-height: 200px;
}

.dt_input-wide-atsign {
  margin-left: -15px;
  padding-left: 15px;
}

.dt_br {
  display: block;
  height: 40px;
}

.dt_selectable {
  cursor: pointer;
}

.dt_input:hover {
  background-color: var(--dtcolor-ultralight);
}

.dt_input-wide:hover {
  background-color: var(--dtcolor-ultralight);
}

.dt_input:hover .dt_input:active {
  background-color: var(--dtcolor-white);
}

.dt_input-wide:hover .dt_input-wide:active {
  background-color: var(--dtcolor-white);
}

.dt_button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.dt_card {
  max-width: 1200px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--dtcolor-white);
  box-shadow: 0px 0px 1px 3px var(--dtcolor-shadow);
}

.dt_header {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--dtcolor-header);
}
