.EIMDocumentDataViewWorkflowContainer {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--dtcolor-superlight);
    width: 500px;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-wrap: normal;
    cursor: pointer;
    font-weight: 700;
}

.EIMDocumentDataViewWorkflowContainerElement {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    height: 50px;
    width: 500px;
}

.EIMDocumentDataViewWorkflowStepSVG-white {
    fill: var(--dtcolor-white);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 10px;
}

.EIMDocumentDataViewWorkflowStepText {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.EIMDocumentDataViewWorkflowContainerElement:hover {
    background-color: var(--dtcolor-light);
}

.EIMDocumentDataViewWorkflowContainerElement-active {
    color: var(--dtcolor-white);
    background-color: var(--dtcolor-lightgreen);
}

.EIMDocumentDataViewWorkflowContainerElement-active:hover {
    background-color: var(--dtcolor-dark);
}

.EIMDocumentDataViewWorkflowContainerElement-current {
    background-color: var(--dtcolor-green);
}

.EIMDocumentDataViewWorkflowAlert {
    background-color: var(--dtcolor-ultralight);
    border-width: 2px;
    border-style: solid;
    border-color: var(--dtcolor-superlight);
    padding-top: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
}

.EIMDocumentDataViewWorkflowAlert-name {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: -0.1px;
    color: var(--dtcolor-header);
}

.EIMDocumentDataViewWorkflowAlert-status {
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.1px;
    color: var(--dtcolor-header);
}

.EIMDocumentDataViewWorkflowAlert-icon {
    pointer-events: none;
    height: 40px;
    margin-bottom: 20px;
}

.EIMDocumentDataViewHistoryCard {
    background-color: var(--dtcolor-white);
    border-width: 2px;
    border-style: solid;
    border-color: var(--dtcolor-superlight);
    padding-top: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
    margin-bottom: 20px;
}

.EIMDocumentDataViewHistoryCardHeader {
    color: var(--dtcolor-dark);
    font-size: 12px;
    margin-bottom: 30px;
}

.EIMDocumentDataViewHistoryCardRow {
    font-size: 11px !important;
    margin-top: 10px;
}