.DNAppNavbar {
    vertical-align: top;
    top: 0px;
    position: fixed;
    height: 55px !important;
    width: 100%;
    background-color: var(--dtcolor-white);
    box-shadow: 0px 3px 4px var(--dtcolor-shadow);
    border: none;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--dtcolor-superlight);
    z-index: 10000;
    overflow-x: visible;
}

@media (max-width: 600px) {
    .DNAppNavbar {
        height: 110px !important;
    }
}

.DNAppNavbar::-webkit-scrollbar {
    display: none;
}


.DNAppNavbarElementNavigation {
    vertical-align:top;
}

.DNAppNavbarElement {
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    height: 53px;
    text-align: center;
    /*background-color: red;*/
    margin-top: 0px;
    outline: none;
}

.DNAppNavbarRightStop {
    float: right;
    width: 20px;
}

.DNAppNavbarElement-active {
    vertical-align: top;
    border-style: solid;
    border-bottom-width: 2px;
    color: var(--dtcolor-accent);
    border-color: var(--dtcolor-accent);
    outline: none;
}

.DNAppNavbarElement-login {
    margin-top: 10px;
}

.DNAppNavbarAvatar {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: -2px;
    margin-right: 30px;
    border-radius: 20px;
    outline: none;
}

.DNAppNavbarElement-right {
    float: right;
}

.DNAppNavbarElement-avatar {
    float: right;
}
  
.DNAppNavbarButtonInline {
    vertical-align: top;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: var(--dtcolor-header);
    box-shadow: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    outline: none;
}

.DNAppNavbarButtonInline:active{
    pointer-events: none;
}

.DNAppNavbarButtonInlinePE:active{
    pointer-events: all;
}

.DNAppNavbarButtonInlinePE {
    height: 38px;
}

.DNAppNavbarButtonInlineMini {
    display: none;
}

.DNAppNavbarButtonInlineSVGIcon {
    fill: var(--dtcolor-header);
}

.DNAppNavbarButtonInlineSVG {
    margin-top: 7.25px;
    fill: var(--dtcolor-header);
}

.DNAppNavbarElement-active > .DNAppNavbarButtonInline {
    color: var(--dtcolor-active) !important;
}

.DNAppNavbarElement-active > .DNAppNavbarButtonInlineSVGRight {
    fill: var(--dtcolor-active) !important;
}

.DNAppNavbarElement-active > .DNAppNavbarButtonInlineSVGIcon {
    fill: var(--dtcolor-accent) !important;
}

.DNAppNavbarButtonInline:hover {
    background-image: none;
    background-color: var(--dtcolor-shadow) !important;
    box-shadow: none;
}

.DNAppNavbarButtonInlineHover {
    background-image: none;
    background-color: var(--dtcolor-shadow) !important;
    box-shadow: none;
}

@-moz-document url-prefix() {
    .DNAppNavbarButtonInline:hover {
        pointer-events: none;
    }

    .DNAppNavbarButtonInline:active {
        pointer-events: all;
    }
}

.DNAppNavbarLogo {
    vertical-align: top;
    display: inline-block;
    height: 22px;
    margin-top: 9.3px !important;
    margin-left: 0px;
    margin-right: -5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 5px;
    outline: none;
}

.DNAppNavbarAction {
    display: block;
    background-color: var(--dtcolor-accent) !important;
    font-weight: 800;
    font-size: 13px;
    color: var(--dtcolor-white);
    box-shadow: none;
    border: none;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    height: 35px;
    outline: none;
}

.DNAppNavbarButtonActive:hover {
    background-color: var(--dtcolor-accent-hover) !important;
}

.DNAppNavbarButtonInlineMini:hover {
    background-color: var(--dtcolor-accent-shadow) !important;
}

@media (max-width: 1200px) {
    .DNAppNavbarLogo {
        margin-right: -25px;
        width: 0px;
        opacity: 0.00001%;
        pointer-events: none;
    }
    .DNAppNavbarAvatar {
        margin-left: -25px;
        width: 0px;
        opacity: 0.00001%;
        pointer-events: none;
    }
}

@media (max-width: 950px) {
    .DNAppNavbarButtonInlineMini {
        vertical-align: top;
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        color: var(--dtcolor-header);
        box-shadow: none;
        border: none;
        margin-top: 8.5px;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        outline: none;
    }
    
    .DNAppNavbarButtonInline {
        display: none;
    }

    .DNAppNavbarButtonInlinePE {
        display: block;
    }
    
    .DNAppNavbarButtonInlineAll {
        display: inline-block;
    }
}

.DNAppNavbarButtonInlineSVGIcon {
    fill: var(--dtcolor-header);
    outline: none;
}

.DNAppNavbarButtonInlineSVGRight {
    display: inline-block;
    margin-left: 5px;
    margin-top: 1px;
    vertical-align: top;
    fill: var(--dtcolor-active) !important;
    outline: none;
}

.DNAppNavbarDropdownOptionsListWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.DNAppNavbarDropdownOptionsList {
    position: absolute;
    display: block;
    width: 250px;
    background-color: var(--dtcolor-white);
    border-radius: 3px;
    box-shadow: 0px 3px 5px 3px var(--dtcolor-shadow);
    padding-bottom: 15px;
}

.DNAppNavbarDropdownOptionsListRight {
    top: 55px;
    right: 15px;
}


.DNAppNavbarDropdownElement {
    display: block;
    text-decoration: none;
    height: 45px;
}

.DNAppNavbarDropdownElement:hover {
    background-color: var(--dtcolor-shadow);
}

.DNAppNavbarDropdownText {
    background: none;
    width: 100%;
    color: var(--dtcolor-header);
    text-align: left;
    font-family: var(--dtfont-primary);
    font-weight: 700;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 15px;
    border: none;
}

.DNAppNavbarDropdownText:active {
    outline: none;
}

.DNAppNavbarDropdownSection {
    display: block;
    margin-top: 15px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-size: 9px;
    color: var(--dtcolor-medium);
}

.DNAppNavbarDropdownSectionCard {
    margin-left: 15px;
}

.DNAppNavbarDropdownSectionLarge {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 15px;
    letter-spacing: -0.2px;
    font-weight: 900;
    font-size: 19px;
    color: var(--dtcolor-header);
}

.DNAppNavbarDropdownMenu {
    display: inline-block;
    height: 20px !important;
    margin-top: -2px;
}

.DNAppNavbarDropdownMenu:hover {
    background-color: transparent;
}

.DNAppNavbarDropdownMenuIcon {
    fill: var(--dtcolor-header);
}

.DNAppNavbarDropdownMenuList {
    width: 420px;
    top: 55px;
    left: 15px;
    padding-bottom: 20px;
}

.DNAppNavbarDropdown {
    height: 20px;
}

.DNAppNavbarDropdownCardElement {
    height: 50px !important;
    padding-top: 10px;
    padding-left: 20px;
}

.DNAppNavbarDropdownCardElementIcon {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    width: 30px;
    margin-left: 15px;
}

.DNAppNavbarDropdownCardElementText {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 14px;
    background: none;
    border: none;
    color: var(--dtcolor-header);
    text-align: left;
    font-family: var(--dtfont-primary);
    font-weight: 700;
    font-size: 13px;
}