.DTTableHeadRow {
    border-bottom: 2px solid var(--dtcolor-head);
}

.DTTable {
    border: transparent;
    border-top-width: 4px;
    margin: 1px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 1px;
    border-spacing: 0px;
    overflow: scroll;
    border-color: transparDTTableRowDTTableRowent;
    border-bottom: 2px solid var(--dtcolor-head);
    width: 1200px;
}

.DTTable-element-header{
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-bottom: 1px solid var(--dtcolor-head);
}

.DTTableElement {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    padding-top: 20px;
    text-align: left;
    min-width: 50px;
    width: auto;
    border-bottom: 1px solid var(--dkcolor-row);
    height: 40px;
    font-weight: 600;
    letter-spacing: -0.1px;
    white-space: nowrap;
    color: var(--dkcolor-header);  
}

.DTTableElementIcon {
    fill: var(--dtcolor-accent);
    width: 17px;
    height: 17px;
}

.DTTableRow:hover {
    background-color: var(--dtcolor-shadow);
  }
  
.DTTableHeadRow {
border-bottom: 2px solid var(--dtcolor-head);
}

.DTTableElementAvatar {
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    width: 35px;
}

.DTTableHead {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: var(--dtcolor-medium);
    padding-top: 0px;
    text-align: left;
    height: 10px;
    padding-bottom: 10px;
}

.DTTableElementMono {
    font-family: var(--dtfont-family-mono);
    font-size: 13px;
    font-weight: 700;
    color: var(--dtcolor-medium);
}

.DTTableRow {
    height: 35px;
    vertical-align: center;
}

.DTTableRow:hover {
    background-color: var(--dtcolor-ultralight);
}