.EIMWorkflowStep {
    vertical-align: top;
    line-height: 40px;
    padding-top: 22px;
    padding-bottom: 12px;
    padding-left: 20px;
    background-color: var(--dtcolor-green);
    font-weight: 800;
    color: var(--dtcolor-white);
}

.EIMWorkflowStep > .dt_input-wide {
    border: none;
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    margin-left: 0px;
    font-weight: 600;
    color: var(--dtcolor-white);
    background-color: transparent !important;
    outline: none;
    font-weight: 700;
}

.EIMWorkflowStep:hover > .dt_input-wide {
    margin-left: -35px;
    background-color: var(--dtcolor-white) !important;
    border: 2px solid var(--dtcolor-light);
    color: var(--dtcolor-dark);
}

.EIMWorkflowStep > .dt_input-wide:hover {
    background-color: var(--dtcolor-white);
    color: var(--dtcolor-dark);
}

.EIMWorkflowStep > .dt_svg {
    display: inline-block;
    vertical-align: top;
    margin-top: -30px;
    margin-right: 15px;
    fill: var(--dtcolor-green);
}

.EIMWorkflowStep:hover > .dt_svg {
    display: none;
}

.EIMWorkflowStep > .dt_button {
    margin-top: -35px;
    margin-right: 15px;
    color: var(--dtcolor-dark);
}

.EIMWorkflowStep:hover {
    background-color: var(--dtcolor-superlight);
}

.EIMWorkflowStepsContainer {
    overflow: hidden;
    margin-top: 30px;
    border-radius: 5px;
    width: 530px;
    cursor: grab;
}

.EIMDocumentDataViewWorkflowInsert {
    display: none;
}

.EIMWorkflowStep:hover > .EIMDocumentDataViewWorkflowInsert {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: -10px;
    display: inline-block;
    background-color: transparent;
    color: var(--dtcolor-dark);
}

.EIMWorkflowStep > .EIMDocumentDataViewWorkflowInsert:hover {
    background-color: var(--dtcolor-dark);
    color: var(--dtcolor-white);
    border-radius: 5px;
}

.EIMWorkflowStep > .dt_button-danger:hover {
    color: var(--dtcolor-white);
    background-color: var(--dtcolor-red);
}

.EIMDocumentDataViewWorkflowInsert:hover {
    background-color: var(--dtcolor-green);
}

.EIMDocumentDataViewWorkflowStepLabel {
    display: none;
}

.EIMWorkflowStep:hover .EIMDocumentDataViewWorkflowStepLabel {
    color: var(--dtcolor-dark);
    margin-top: 10px;
    margin-bottom: -10px;
    display: block;
}

.EIMDocumentDataViewWorkflowInsert:disabled {
    pointer-events: none;
    opacity: 0.2;
}