.DTAppContent {
    top: 80px;
    position: absolute;
    display: block;
    padding-top: 10px !important;
    margin-left: calc(50% - 500px) !important;
    margin-bottom: 50px !important;
    display: block;
    overflow: auto;
    overscroll-behavior: contain; 
    width: 1500px;  
}

.DTAppMenu::-webkit-scrollbar {
    display: none;
}

.DTAppContentNoLeftMenu::-webkit-scrollbar {
    display: none;
}

.DTAppContentNoLeftMenu {
    top: 80px;
    position: absolute;
    display: block;
    padding-top: 10px !important;
    margin-bottom: 50px !important;
    margin-left: calc(50% - 750px) !important;
    display: block;
    overflow: scroll;
    width: 1500px;  
}

@media (max-width: 1700px) {
    .DTAppContentNoLeftMenu {
        width: 1500px;  
        margin-left: 150px !important;
    }
    
    .DTAppContent {
        width: 1500px;  
        margin-left: 300px !important;
    }
}

.DTAppContentSeparator {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0px;
    width: auto;
    border-bottom-style: solid;
    border-color: var(--dtcolor-superlight);
    border-width: 1px;
}

.DTAppContentHeader {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 21px;
    letter-spacing: -0.2px;
    color: var(--dtcolor-header);
}

.DTAppContentHeaderLarge {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: -0.2px;
    color: var(--dtcolor-header);
}

.DTAppContentView {
    margin-top: 20px;
}

.DTAppContentHeaderSmall {
    position: relative;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 15px;
    font-family: "Manrope", sans-serif;
    color: var(--dtcolor-dark);
    font-weight: 900;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: var(--dtcolor-dark);
}
  
.DTAppContentColumn {
    margin-left: -70px;
    margin-top: -20px;
    margin-right: 40px;
    padding-left: 70px;
    vertical-align: top;
    display: inline-block;
    width: 600px;
    height: 100%;
    border: none;
}

.DTAppContentColumnDivider {
    height: 100%;
    padding-left: 40px;
    border-left: 2px dashed var(--dtcolor-light);
}

.DTAppContentTopBar {
    position: fixed;
    bottom: 0px;
    left: 264px;
    margin-right: 0px;
    padding-left: 50px;

    background-color: var(--dtcolor-white) !important;
    z-index: 10000;
    
    width: 100%;
    height: 80px;
}

.DTAppContentColumnView {
    display: block;
    width: auto;
}

.DTAppContentPanel {
    margin-top: -10px;
    margin-bottom: -10px;
}

.DTAppContentPanelElement {
    padding-right: 5px;
}

.DTAppContentPanelElementContainer {
    display: inline-block;
    vertical-align: top;
    height: 35px;
    padding-bottom: 15px;
}

.DTAppContentPanelElementContainerMainLink {
    display: inline-block;
    vertical-align: top;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 10px;
    margin-right: 13px;
}

.DTAppContentPanelElementContainerMainLink > .DTAppContentPanelElement {
    color: var(--dt-white);
}

.DTAppContentPanelElement {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: var(--dtcolor-header);
}

.DTAppContentPanelElementContainer > .DTAppContentPanelElement{
    margin-top: 8px;
}

.DTAppContentPanelElementSVG {
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
    width: 20px;
    fill: var(--dtcolor-header);
}

.DTAppContentPanelElementContainer > .DTAppContentPanelElementSVG{
    margin-top: 7px;
}


@media (max-width: 1200px) {
    .DTAppContentNoLeftMenu {
        margin-top: 20px !important;
        margin-left: 40px !important;
    }
}

.dt_right {
    float: right;
    margin-right: 20px;
}

.DTAppContentImage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    width: 200px;
}