.DNExpandViewContent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.DNExpandViewHeader {
    display: inline-block;
    color: var(--dtcolor-header);
    font-size: 14px;
}

.DNExpandViewExpand {
    float: right;
    margin-top: -5px;
    height: 30px;
}

.DNExpandViewExpandIcon {
    display: inline-block;
    vertical-align: top;
    fill: var(--dtcolor-medium);
}

.DNExpandViewExpandHint {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--dtcolor-medium) !important;
}