.EIMCreateView {
    position: fixed;
    left: 0px;
    top: -20px;
    width: 101%;
    height: 101%;
    z-index: 10003;
    background-color: var(--dtcolor-bgfill);
    border: none;
}

.EIMCreateViewCardHide {
    position: fixed;
    left: 0px;
    top: -20px;
    width: 101%;
    height: 101%;
    z-index: 1001;
    background-color: transparent;
    border: none;
}

.EIMCreateViewCardClose {
    padding-top: 4px;
    margin-left: -100px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

.EIMCreateViewCardClose:hover {
    background-color: var(--dtcolor-light);
}

.EIMCreateViewCard {
    position: fixed;
    top: calc(50% - 350px);
    left: calc(50% - 400px);
    width: 800px;
    height: 700px;
    padding-left: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px var(--dtcolor-shadowdark);
    background-color: var(--dtcolor-white);
    z-index: 10004;
}

.EIMCreateViewCardHeader {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;
    color: var(--dtcolor-header);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    max-width: 300px;
    word-wrap: break-word;
    letter-spacing: -0.2px;
}

.EIMCreateViewCardSection {
    color: var(--dtcolor-medium);
    margin-left: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.4px;
    font-size: 9px;
}

.EIMCreateSubmit {
    font-size: 13px;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.dt_loader {
    border-top: 4px solid var(--dkcolor-light);
    border-bottom: 4px solid var(--dkcolor-accent-light);
    border-left: 4px solid var(--dkcolor-dark);
    border-right: 4px solid var(--dkcolor-accent);
    border-radius: 50%;
    margin: 20px;
    width: 40px;
    height: 40px;
    animation: dk_spin 2s linear infinite;
}

@keyframes dk_spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.CreateView {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    margin-left: 5px;
    display: block;
    background-color: var(--dtcolor-white) !important;
    overflow: visible;
}

.CreateViewName {
    font-size: 28px;
}

.CreateCard {
    margin-left: -25px;
    padding-top: 10px;
    padding-left: 25px;
    display: block;
    max-width: 300px;
    height: 50px !important;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 25px;
    text-decoration: none;
    pointer-events: all;
}

.CreateList {
    margin-top: 50px;
}

.CreateCard:hover {
    border-radius: 5px;
    background-color: var(--dtcolor-superlight) !important;
}

.CreateCard:hover > .CreateCardHeader {
    color: var(--dtcolor-accent);
}

.CreateCardHeader {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: var(--dtcolor-header);
    text-align: center;
    margin-left: 15px;
    margin-top: 12px;
    outline: none;
    vertical-align: top;
}

.CreateViewLogo {
    width: 120px;
    margin-left: -5px;
    margin-bottom: 20px;
    pointer-events: none;
}

.CreateGlyph {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    pointer-events: none;
}

.CreateVersion {
    color: var(--dtcolor-dark);
    font-family:'Manrope', sans-serif;
    font-weight: 800;
    font-size: 13px;
    position: fixed;
    bottom: 60px;
    margin-left: 25px;
  }

